@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
h1 {
  text-align: center;
  font-size: 8rem;
  color: #C52233;
  font-family: 'Righteous', cursive;
  margin-top: -10px;
}

.whole-app {
  // display: flex;
  // justify-content: center;
}

.buttons {
  justify-content: space-evenly;

  button {
    padding: 15px;
    font-size: 5rem;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    border: solid black 5px;
  }
}
